<h1>Departments</h1>
<% @departments.each do |department| %>
  <section class= "department-<%= department.id %>">
    Department Name: <%= department.name %><br>
    Floor: <%= department.floor %><br>
    
    Department's Employees:
    
    <% department.employees.each do |employee| %>
      <li><%= employee.name %></li>
    <% end %>

  </section>
<% end %>